* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #abb3df;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Start Game Button */

#start-game-btn {
  margin-top: 15px;
  padding: 10px 26px;

  font-family: 'Rubik', sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
  background-color: #fc6e51;

  box-shadow: 0 0 12px -2px black;

  border: 0;
  border-radius: 10px;

  transition: all 0.3s ease-in-out;
}

#start-game-btn:hover {
  cursor: pointer;
  box-shadow: 0 0 10px -2px black;
  background-color: #ff5f3f;
}

/* Board */

.board {
  width: 520px;
  height: 520px;

  position: relative;

  display: grid;
  grid-template-columns: repeat(10, 50px);
  background: linear-gradient(to right, #7a7a7a, transparent 1px 50px),
    linear-gradient(to bottom, #7a7a7a, transparent 1px 50px), #dbdbdb;

  background-size: 50px 50px;

  border: 10px #6f6f6f solid;
}

.board-cell {
  width: 50px;
  height: 50px;
  background-color: #bababa;
  font-size: 25px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 7px solid;
  border-image: linear-gradient(135deg, #ffffff 50%, #8e8e8e 50%)30%;

  user-select: none;
}

.cell-clicked{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;

  user-select: none;
}

.cell-bomb{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  
  user-select: none;
}

/* Flag Button */

.flag-btn {
  margin: 15px auto;
  padding: 5px 30px;
  font-size: 30px;

  border-radius: 10px;
  border: none;

  background-color: #cccccc;

  display: block;
}

.flag-btn:hover {
  cursor: pointer;
}

.flag-btn-active {
  background-color: #e3e3e3;
  outline: 2px solid #797979;
}
